@keyframes animationCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Loader {
    width: 24px;
    height: 24px;
}
.Loader-circle {
    transform-origin: center;
    animation-name: animationCircle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height: 1px;
}
